* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

:root {
    font-size: 62.5%;
    --default-font: 'Mulish', sans-serif;

    --white: #ffffff;
    --gray: #f9f4fb;
    --text-color: #312d64;
    --title-color: #b52184;
    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%)
}

body {
    background: var(--gray);
    font-family: var(--default-font);
}

img {
    width: 100%;
}

h1 {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 900;
    color: var(--title-color);
    margin: 1.7rem 0 0.5rem 0;
}

h2 {
    font-size: 2.9rem;
    line-height: 3.6rem;
    font-weight: 900;
    color: var(--title-color);
    margin-bottom: 2rem;
}

p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

button, input, fieldset, textarea {
    border: none;
    background: none;
    font-family: var(--default-font);
}

#top {
    padding: 0 3.4rem 9.3rem 3.2rem;
    width: 100%;
    background: var(--white);
}

#top .top-text p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 3.5rem;
}

#top .top-text .down {
    width: 5.8rem;
    height: 10.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: filter 300ms;
}

#top .top-text .down:hover {
    filter: brightness(0.7);
}

#top .top-text .down img {
    width: 3.66rem;
}

#mid {
    width: 100%;
    height: 100%;
    background: var(--gradient-background);
    padding: 5.3rem 3.9rem 5.5rem;
    display: grid;
    gap: 4.9rem;
}

#mid .card {
    background: var(--white);
    padding: 2.6rem;
    border-radius: 2rem;
}

#mid .card img {
    width: 8rem;
    margin-bottom: 3.3rem;
}

#mid .card .card-text {
    width: 26.5rem;
}

#bot {
    width: 100%;
    height: 100%;
    padding: 7.8rem 3.9rem 6.5rem;
    background: var(--white);
}

#bot form h1 {
    margin-bottom: 4.3rem;
}

#bot form .input-wrapper {
    margin-bottom: 2.4rem;
}

#bot form input, #bot form textarea {
    width: 100%;
    border: .15rem solid var(--text-color);
    border-radius: 1.6rem;
    padding: 1.2rem 1.6rem 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.6rem;
}

#bot form textarea {
    height: 12.6rem;
}

#bot form input::placeholder, #bot form textarea::placeholder {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.6rem;
}

#bot form input::placeholder {
    padding-left: 2.8rem;
}

#bot form button {
    background: var(--gradient-background);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 1rem 1.6rem;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: filter 200ms;
}

#bot form button:hover {
    filter: brightness(0.9);
}

#name {
    background: url(./assets/person.svg) no-repeat scroll 1.4rem 1.2rem;
}

#email {
    background: url(./assets/arroba.svg) no-repeat scroll 1.4rem 1.2rem;
}

footer {
    background: var(--gradient-background);
    padding: 3.2rem 1.6rem;
}

footer {
    color: var(--white);
    font-size: 1.21rem;
    line-height: 2.4rem;
    font-weight: 600;
    text-align: center;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 5.8rem;
        line-height: 7.3rem;
        margin: 0 0 0 .8rem;
    }

    #top {
        display: flex;
        justify-content: space-between;
        padding: 0 2.9rem 10.3rem 10.9rem;
        max-height: 83.6rem;
        background: var(--white);
    }

    #top .top-text {
        margin-top: 31.2rem;
        order: 1;
    }

    #top .astronauta {
        order: 2;
    }

    #top .top-text p {
        font-size: 3.2rem;
        line-height: 4rem;
        margin-bottom: 17.9rem;
    }

    #top .top-text .down {
        margin: 0;
        justify-self: flex-end;
    }

    #mid {
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem;
        padding: 6.4rem 11.1rem 8rem;
    }

    #mid .card {
        padding: 3.2rem;
        border-radius: 2.4rem;
    }

    #mid .card img {
        width: 9.7rem;
        margin-bottom: 4rem;
    }

    #bot {
        display: flex;
        align-items: center;
        gap: 9.2rem;
        padding: 0;
        height: 62.2rem;
        margin: 0 auto;
        background: url(./assets/stars.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background: var(--white);
    }

    #bot form {
        flex: 1;
        margin-left: 10.9rem;
    }
}